body {
  width: auto;
  margin: 10px;
  font-family: 'ZX Spectrum-7', sans-serif;                                          
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: normal;
  font-size: xx-large;
  letter-spacing: 1px;
  background-color: black;
  color: white;
}

h1 {
  color: red
}

h2 {
  font-family: 'ZX Spectrum-7', sans-serif;
  font-weight: 400;
}

button {
  background-color: orange;
  color: black;
  border-color: orange;
  border-radius: 5px;
  font-size: xx-large;
  font-family: 'ZX Spectrum-7', sans-serif;
  font-family: 'ZX Spectrum7 Bold', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: normal;
  height: 40px;
  width: 60px;
  padding: 0px;
}

input {
  background-color: black;
  color: white;
  border-color: orange;
  font-size: xx-large;
  font-family: 'ZX Spectrum-7', sans-serif;
  
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: normal;
  height: 30px;
  width: 40%;
}

#chart {
  width: 100%;
  max-width: 640px;
  color: black;
}

img {
  width: 100%;
  max-width: 640px;
}

table {
  width: 100%;
  max-width: 640px;
  border-collapse: collapse;
  border-spacing: 0px;
}

td, th {
  border: 1px solid #000000;
  padding: 0rem;
  text-align: center;
}

#fc {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: auto;
  font-size: small;
  font-style: italic;
}
